@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:900');


@font-face {
	font-family: "Muller";
	src: url('fonts/MullerRegular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url('fonts/MullerLight.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url('fonts/MullerBold.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url('fonts/MullerExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Muller";
	src: url('fonts/MullerHeavy.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	color: #252525;
	font-family: /* 'Lato', */  'Muller', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 160%;
	margin: 0;
}


/******************************** PARTICLES STYLE *********************************/

header {
    background-color: /*#acc8b3*/ #BBD6C1; 
    position: absolute;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	/* background: url('img/banner-bg.png') no-repeat; */
	background-size: cover;
	text-transform: uppercase;
	z-index: 9;
}


#menu {
	z-index: 1;
	position: relative;
}

#particles {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#particles canvas {
	position: absolute;
	z-index: 0;
	opacity: 0.2;
	z-index: 0;
}

/*#intro {
  position: absolute;
  left: 0;
   top: 50%; 
  padding: 0 20px;
  width: 70%;
  text-align: center;
}*/


/******************************** PARTICLES STYLE ENDS *********************************/

.bold {
	font-weight: bold;
}


/*------------------------------------------------NAVIGATION-------------------------------------------*/

.header-inner-wrapper {
}

nav {
	border: 1px solid white;
	background-color: #fff;
	height: 5em;
	width: 70%;
	margin: 0 auto;
	color: #151515;
	font-weight: 900;
}

.logo-text {
	float: left;
	font-family: 'Muller', sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	line-height: 80%;
	margin: .9em 0 0 1em;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}


#menu ul {
	list-style-type: none;
}

nav ul li {
	font-size: 75%;
	display: inline-block;
	padding: 0 15px 0 0;
	margin: 2em 0;
	float: right;
}

nav ul li a {
    color: #151515;
	font-family: 'Muller', sans-serif;
	font-size: 120%;
	font-weight: 900;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ff4200;
}


/*--------------------------------------------------BANNER IMAGE-------------------------------------*/
.banner {
	font-family: 'Montserrat', sans-serif;
	height: 600px;
}

.banner-inner {
}

h1 {
		color: #151515;
		font-family: 'Montserrat', sans-serif;
		font-size: 600%;
		font-weight: 900;
		text-align: center;
		line-height: 70%;
		/* border:1px solid white; */
}

h1.light-heading {
	color: #fff;
	padding-top: 2em;
}

h1.dark-heading {
	color: #151515;
}

.banner-heading {
	color: #ff4200;
	font-size: 132%;
	line-height: 10%;
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
}

h2.banner-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 150%;
	font-weight: 900;
	text-align: center;
	line-height: 70%;
}

h2.white-heading {
	color: #fff;
}

h2.dark-heading {
	color: #151515;
}

.intro-h3 {
	line-height: 155%;
	padding: 5% 0;
}

span.intro-orange {
	color: #FF4200;
}

span.intro-dark {
	color: #151515;
}


/* Header Shapes Positioned */

.header-shapes {
	position: relative;
	z-index: 2;
}
.circle-yellow {
	position: relative;
	top:-250px;
	right: -120px;
}

.circle {
	position: relative;
	top:-180px;
	right: -940px;
}

.square1 {
	position: relative;
	top:-550px;
	right: -540px;
	width: 2%;
	opacity: .7;
}

.octagon1 {
	position: relative;
	top:-570px;
	right: -240px;
	opacity: .7;
}

.romb-red {
	position: relative;
	top:-590px;
	right: 45px;

}


/*-----------------------------------------------1/3 COLUMN SECTION BEGINS----------------------------------*/
.one-third-wrapper {
	width: 70%;
	margin: 0 auto;
	font-weight: 400;
	padding-top: 5%;
}

.one-third {
	width: 33.3333%;
	float: left;
	text-align: left;
	/* height: 300px; */
	/* border: 1px solid blue; */
	padding: 0 1% 7% 2%;
}

.one-third h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 170%;
	line-height: 100%;
	text-transform: uppercase;
}

.one-third p {
		font-size: 0.8em;
		line-height: 190%;
}

.one-third i {
	color: #cecece;
	font-size: 2.9em;
}
/*-----------------------------------------------1/3 COLUMN SECTION ENDS-----------------------------------*/





/*-----------------------------------------------PORTFOLIO BEGINS------------------------------------------*/
.main-section-bg {
	width: 100%;
	background-color: #252827;
	font-weight: normal;
	font-size: 90%;
	line-height: 200%;       /* --DO------SET COMMON FONT STYLE FOR ALL MAIN TEXT IN BODY----!!! */
}

main {
	width: 70%;
	margin: 0 auto;
}

.portfolio-section {
	background-color: #252827;
	color: #C2DED5;
	overflow: hidden;   /* ---------------- FIXed THE OVERFLOW ISSUE  ------------- */
}

.portfolio-section h2 {
	font-family: 'Muller', sans-serif;
	font-weight: 900;
	font-size: 290%;
	line-height: 100%;
	text-transform: uppercase;
	padding: 7%;
	/*-----------------------------------------------------------------FIX BG SQUARE---*/
	background-image: url(img/folio-sqr.png);
	background-repeat: no-repeat;
	background-position: 36% 40%;
	/* border: 1px solid white; */
}


.portfolio-section h3 {
	background-color: #fff;
	color: #151515;
	font-family: 'Muller', sans-serif; /*-----------------Replace to Muller Black (lighter version) --*/
	font-weight: 900;
	font-size: 150%;
	line-height: 100%;
	text-transform: uppercase;
	padding: 5%;
}

.desc-title1 {
	position: relative;
    right: 3.5em;
    margin: 5% 0 5% 0;
}

.desc-title2 {
	position: relative;
    left: 1.7em;
    margin-top: 5%;
}

.inner-wrapper {
	float: right;
	margin: 0 auto;
}

.inner-wrapper2 {
    float: left;
	margin: 0 auto;
}

.work-sample1 img {
	float: left;
	width: 50%;
	padding: 0% 0 5% 0;
	/* border: 1px solid yellow; */
}

.work-sample2 img {
	float: right;
	width: 50%;
    padding: 0% 0 5% 0;
    /* border: 1px solid yellow; */
}

.work-sample-description1 {
	font-weight: ;
	float: right;
	width: 45%;
	padding: 0;
	margin: 0 0 5% 0;
	/* border: 1px solid blue; */
}

.work-sample-description2 {
	float: left;
	width: 100%;
	padding: 5% 5% 0 0;
	margin: 0;
	/* border: 1px solid blue; */

}

article {
	float: left;
	width: 50%;
	height: auto; 
}
/*-----------------------------------------------PORTFOLIO ENDS-----------------------------------------------*/




/*------------------------------------------------ABOUT ME BEGINS---------------------------------------------*/

.photo-position {
	
}

.photo {
	margin: 0 auto 0 auto;
	display: block;
	width: 20%;
	height: 20%;
	position: relative;
	top: -5.5em;

	border: 1px solid blue;
}

.aboutme-wrapper {
	width: 60%;
	margin: 0 auto;
	/* border: 1px solid yellow; */
}

.aboutme-line {
	width: 20%;
	height: 3em;
	margin: 0 0 0 50%;
	border-left: 1px solid #FF5215;
}


.intro-text  {
	font-family:'Muller'; 
	font-weight: 500;
	font-size: 150%;
	margin: 2% 2% 3% 2%;
	text-align: center;
}

.aboutme-text {

	font-weight: 100; 
	color: #000;
	font-size: 100%;
	margin-bottom: 2%;
}

.aboutme-heading {
	color: #151515;
	text-align: center;
    font-family:'Muller'; font-weight: 700;
	font-size: 270%;
	font-weight: 900;
	line-height: 100%;
	text-transform: uppercase;
	padding: 0 0 1% 0;

	border: 1px solid blue;
}

.social {
	list-style: none;
	text-align: center;
	margin-bottom: 2em;
}

.social li {
	display: inline; 
    background: white;
    margin: 1%;
}

.social i {
	font-size: 2.2em;
	border: 1px solid #e6e6e6; 
	border-radius: 100%;
	color: #151515;
	padding: 1.7% 2%;
	margin: 0 0 5% 0;
}

.social  i:hover {
	color: #FF5215; /* #FF9F00; */
	border: 1px solid #e6e6e6; /* #c7c8c8; */
}
/*------------------------------------------------ABOUT ME ENDS------------------------------------------------*/



/*--------------------------------------------CONTACT SECTION BEGINS-------------------------------------------*/

.left-contact-text {
	float: left;
	width: 25%;
	padding-right: 5%;
}

.contactme-heading {
	font-size: 200%;
	font-weight: 900;
	line-height: 190%;
	text-align: center;
	text-transform: uppercase;
	padding: 2%;
	margin-top: 3%;
	display: block;
}

#contact-section {
	color: #fff;
	background-color: #B9DAC2;
	width: 100%;
}

.contact {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	padding: 5% 0 5% 0;
	background-color: #B9DAC2;
}

/*--These 2 blocks are alighned inside the .contact section, which is centered above-----*/
.contactform-container {
	float: left;
	width: 50%;
    background-color: #B9DAC2;
    border-radius: 5px;
    padding: 0px;
}

.left-contact-text {
	float: left;
	width: 50%;
	/* border: 1px solid green; */
}

.contact-p {
	margin-bottom: 6%;
}

.left-contact-text p {
	padding-right: 2%;
}
/*--Two blocks end---*/

.contact .bold-p-text {
	font-size: 110%;
	font-weight: bold;
	line-height: 200%;
}

/*-----------Contact Forms Begins-------*/
form {
	/* background-color: transparent; */
	width: 100%;
	margin: 0;
	padding-top: 4%;

}

form input, select, textarea {
	 background-color: transparent; 
}


form label {
	font-weight: bold;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 3%;
    border-bottom: 1px solid white; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=submit] {
    /* background-color: transparent; */
    color: #252827;
    background-color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    width: 40%;
    font-weight: bold;
    font-size: 1.3em;
}


input[type=submit]:hover {

    
}
/*-----------Contact Form Ends-------------*/


/*-----------Footer Begins------------------*/
footer {
	color: #FF9F00;
    background-color: #252827;
    text-transform: uppercase;
    font-family: 'Muller', sans-serif;
	font-size: 50%;
	height: 7em;
	padding: 2% 0 4% 0;
}

.footertext-wrapper {
	width: 70%;
	margin: 0 auto;
	height: 3em;
}

footer p {
	width: 25%;
	float: left;
}

footer p.rightalign {
	float: right;
	text-align: right;
}
/*--------Footer Ends--------*/

/*----------------------------------------------CONTACT SECTION ENDS-------------------------------------------*/








/* -----------------------------------------------MEDIA QUERIES BEGIN-----------------------------------------*/


@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and ( max-width: 580px) {


	header {
	    font-size: 10px;
    }

    .one-third h3 {
	    font-size: 10px;
	}


    /*---RESPONSIVE CONTACT FORM---*/
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
	.button {
		width: 20%;
		height: 5%;
		font-size: 0.7em;
		border: 1px solid #fff;
	    display: block;
	    margin: 0 auto;
	    padding: 1%;
	    color: white;
	    text-align: center;
	}
    /*---RESPONSIVE CONTACT FORM ENDS---*/
}


@media only screen and (max-width: 320px) {

}


/*----------------------------------------------MEDIA QUERIES END----------------------------------------------*/
